<!DOCTYPE html>
<html ng-app="notesApp">
    <head>
        <style>
            .username.ng-valid{
                background-color:green;
            }
            .username.ng-invalid-required{
                background-color:red;
            }
            .username.ng-invalid-minlength{
                background-color:lightpink;
            }
        </style>
    </head>
    <body ng-controller="MainCtrl as ctrl">
    <form ng-submit="ctrl.submit()" name="myForm">
        name:
        <input type="text" required name="uname" class="username"
         ng-minlength="4" ng-model="ctrl.user.username">
         <span style="color:red;" ng-show="myForm.uname.$invalid">*</span><br>
         <span ng-show="myForm.uname.$error.required">
             This is a required field
         </span><br>
         <span ng-show="myForm.uname.$error.minlength">
             minlength is required 4
         </span><br>
         <span ng-show="myForm.uname.$invalid">
             This field is invalid
         </span><br>
         password:
        <input type="password" required name="pwd"
         ng-model="ctrl.user.password"><br>
         <span ng-show="myForm.pwd.$error.required">
             This is a required field
         </span><br>
         email:
        <input type="email" name="uemail" required ng-model="ctrl.user.email"><br>  
        <span ng-show="myForm.uemail.$error.required">
             This is a required field
         </span><br>
         <span ng-show="myForm.uemail.$invalid">
             This field is invalid
         </span><br>
         <ng-form name='profile'>
             <input type="text" ng-model="ctrl.user.profile.firstname" 
                required>
            <input type="text" ng-model="ctrl.user.profile.lastname" 
                required>
            <input type="date" ng-model="ctrl.user.profile.dob"
                required>
            <textarea ng-model="ctrl.user.profile.data" required></textarea>
         </ng-form>
         <span ng-show="myForm.profile.$invalid">
             please fill out the profile information
         </span>
         
        <input type="submit" ng-disabled="myForm.$invalid"
         value="submit" />
    </form>
      
    <script
    src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js">
    </script>
    <script type="text/javascript">
        angular.module('notesApp',[])
            .controller('MainCtrl',[function(){
                var self = this;
                self.submit = function(){
                    console.log('user data',self.user);
                };

            }]);
    </script>
    </body>
</html>